aside,
article,
footer {
    float: left;
    border: green thin solid;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
}

nav {
    width: 100%;
    height: 30px;
    background-color: #291307;
}

nav>a {
    width: 16.666667%;
    text-decoration: none;
    float: left;
    height: inherit;
    text-align: center;
    color: #fff;

}

nav>a:hover {
    background-color: #e24a32;
    color: #fff;
}

/* /////  */
.body {
    width: 100%;
    float: left;

}

.body aside {
    min-height: 300px;
    width: 15%;


}

.body .body-aside-left>a {

    text-decoration: none;
}

.body article {
    width: 70%;
    min-height: 300px;
}

footer {
    width: 100%;
    height: 100px;

}

/* / Class */
.product {
    width: 45.5%;
    float: left;
    border: green thin solid;
    margin-top: 10px;
    margin-left: 3%;
    margin-bottom: 10px;
    text-align: center;
}

.product .img-product img {
    width: 50%;
}

.product>a {
    text-decoration: none;
}

.product-detail {
    float: left;
    margin: 10px;

}

.product-detail .img-product-detail img {
    width: 50%;
}

.pages {
    width: 100%;
    float: left;
    text-align: center;
    background-color: #291307;
}

.highligh {
    font-weight: bold;
    font-style: 35px;
    color: white;
}